<!DOCTYPE html>
<html>
  <head>
    <title>Sunnysounds</title>
    <meta property="og:title" content="Sunnysounds" />
     <meta property='og:image' content="<%= image_url('sunny_logo.png') %>"/>
     <meta property="og:description"
       content="A SoundCloud inspired open audio platform to create a community among creators, listeners, and curators."
     />
     <meta property="og:url"
       content="https://sunnysounds.herokuapp.com/"
    />
    <link rel="icon" href="<%= image_url('sunny_logo.png') %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Overpass" rel="stylesheet">

  <% if current_user %>
    <script type="text/javascript">
      window.currentUser = {
        'id': <%= current_user.id %>,
        'username': "<%= current_user.username %>"
      }
    </script>
  <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
